<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="pinyin.Properties.Settings.manageConnectionString"
      connectionString="Data Source=192.168.10.66;Initial Catalog=manage;User ID=sa;Password=000000"
      providerName="System.Data.SqlClient" />
    <add name="pinyin.Properties.Settings.testConnectionString" connectionString="Data Source=192.168.10.66;Initial Catalog=test;User ID=test;Password=test"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>